html{
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    margin:0
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    padding: 1rem 3rem ;
}
.comment-container{
    padding-left: 1rem;
    border-left: 1px solid black
}

.reply{
    color: red;
    padding-left: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.comment-reply-container{
    margin-left: 4rem;
}

.comment-container:not(:first-child){
    margin-left: 4rem;
}
